.deliveryHistoryRecord{
    border-bottom:2px solid #f3f5fe;
}

.deliveryHistoryRecord .recordTitle{
    height: 1rem;
    line-height: 1rem;
}
.deliveryHistoryRecord .recordTitle span.title{
    color:#000;
    font-size:0.32rem;
    font-weight:bold;
}
.deliveryHistoryRecord .recordTitle span.time{
    color:#4a4a4a;
    font-size:0.27rem;
    font-weight:bold;
    float:right;
    margin-right: 0.35rem;
}
.deliveryHistoryRecord .recordMess table td{
    height: 0.5rem;
    line-height: 0.5rem;
}
.deliveryHistoryRecord .recordMess table td.left{
    color:#4a4a4a;
    font-size:0.27rem;
    font-weight:bold;
    width:2.5rem;
}
.deliveryHistoryRecord .recordMess table td.right{
    color:#000;
}