<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>货物详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/good_detail.css" />
    <script type="text/javascript" src="js/selfFit.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/angular-1.3.10.min.js" ></script>

</head>
<body ng-app="takeDeliveryModules" ng-controller="takeDeliveryCtrls">
<div id="header" class="header">
    <div id="return_key" class="return-key">
        <div id="back-img"></div>&nbsp;<span>返回</span>
    </div>
    <span class="title">货物详情</span>
    <hr color="#E5E5E5"/>
</div>

<div id="goodDetail" ng-cloak="">
    <div class="detailTitle">
        <span class="title">{{record.productName}}</span>
        <span class="batchNum">批号&nbsp;{{record.batchNumber}}</span>
    </div>
    <div class="detailContent">
        <table>
            <tr>
                <td class="left">PID</td>
                <td class="right">{{record.number}}</td>
            </tr>
            <tr>
                <td class="left">订单编号</td>
                <td class="right">{{record.number}}</td>
            </tr>
            <tr>
                <td class="left">仓库名称</td>
                <td class="right">{{record.storeHouseName}}</td>
            </tr>
            <tr>
                <td class="left">包装</td>
                <td class="right">{{record.packingSpecification}}</td>
            </tr>
            <tr>
                <td class="left">库存数量</td>
                <td class="right">{{record.storeJianshu || 0}}</td>
            </tr>
            <tr>
                <td class="left">库存重量（吨）</td>
                <td class="right">{{record.storeWeight || 0}}</td>
            </tr>
            <tr>
                <td class="left">入库单价（元）</td>
                <td class="right">{{record.unitPrice || "0.00"}}</td>
            </tr>
            <tr>
                <td class="left">可提货重量（吨）</td>
                <td class="right">{{record.deliverableWeight || '0'}}</td>
            </tr>
            <tr>
                <td class="left">可融资金额（元）</td>
                <td class="right">{{record.financableMoney || "0.00"}}</td>
            </tr>
            <tr>
                <td class="left">已融资金额（元）</td>
                <td class="right">{{record.financedMoney || "0.00"}}</td>
            </tr>
            <tr>
                <td class="left">货权人</td>
                <td class="right">{{record.productOwner}}</td>
            </tr>
            <tr>
                <td class="left">订单类型</td>
                <td class="right">{{record.orderstatus}}</td>
            </tr>
        </table>
    </div>
    <div class="detailFoot">
        <span class="history" ng-click="toDeliveryHistoryDetail(record.productId,record.storeHouseId,record.orderId,record.productOwnerId)">提货历史</span>
        <span class="take" ng-click="toGoodsApply(record.storeHouseName,record.storeHouseAddress)">去提货</span>
    </div>
</div>
    <script type="text/javascript">
        var urlParams = getURLParams();
        angular.module('takeDeliveryModules', [])
                .controller('takeDeliveryCtrls', ['$scope', '$http', function($scope, $http) {
                    var params = {
                        _vt:urlParams._vt,
                        fromType:urlParams.fromType,
                        mobile:urlParams.mobile,
                        loc:urlParams.loc,
                        versionID:urlParams.versionID,
                        loginId:urlParams.loginId,
                        mtn:urlParams.mtn,
                        buildID:urlParams.buildID,
                        _svt:urlParams._svt,
                        _s:"coop",
                        _m:"listStoreGoods",
                        storeHouseId:urlParams.storeHouseId,
                        productName:urlParams.productName
                    }


                    $http({method: 'POST', url: remote_url,params}).then(function(rep) {
                        if(rep.status==200){
                            $scope.record=rep.data.content.list[0];
                        }
                    })
                    //跳转到提货历史
                    $scope.toDeliveryHistoryDetail=function (productId,storeHouseId,orderId,productOwnerId) {
                        var params = "?_vt="+urlParams._vt+"&fromType="+urlParams.fromType+"&mobile="+urlParams.mobile+"&loc="+urlParams.loc+"&versionID="+urlParams.versionID+"&loginId="+urlParams.loginId+"&mtn="+urlParams.mtn+"&buildID="+urlParams.buildID+"&_svt="+urlParams._svt+"&_s=coop";
                        var detail = 'goods_records.html'+params+'&productId='+productId+'&storeHouseId='+storeHouseId+'&orderId='+orderId+'&productOwnerId='+productOwnerId;
                        location.href = detail;
                    };
                    //跳转到提货申请
                    $scope.toGoodsApply=function (storeHouseName,storeHouseAddress) {
                        var detail = 'goods_apply.html?storeHouseName='+storeHouseName+"&storeHouseAddress="+storeHouseAddress;
                        //传递对象：先将对象转成字符串（序列化）
                        location.href = detail;
                    };

                }])

        $("#return_key").click(function () {
            back();
        });
    </script>
</div>
</body>
</html>