<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>提货记录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/goods_records.css" />
    <script type="text/javascript" src="js/selfFit.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/angular-1.3.10.min.js" ></script>

    <script type="text/javascript" src="js/pagination/tm.pagination.min.js" ></script>
    <link rel="stylesheet" href="js/pagination/pagination.css" />
</head>
<body ng-app="deliveryHistoryModules" ng-controller="deliveryHistoryCtrls">
<div id="header" class="header">
    <div id="return_key" class="return-key">
        <div id="back-img"></div>&nbsp;<span>返回</span>
    </div>
    <span class="title">提货记录</span>
    <hr color="#E5E5E5"/>
</div>

<div class="content">
    <div class="deliveryHistoryRecord" ng-repeat="node in list" ng-cloak="">
        <div class="recordTitle">
            <span class="title" ng-click="toDeliveryHistoryDetail(node.deliveryId)">{{node.productName}}</span>
            <span class="time">申请时间&nbsp;{{node.applyTime}}</span>
        </div>
        <div class="recordMess">
            <table>
                <tr>
                    <td class="left">提货申请码</td>
                    <td class="right">{{node.number}}</td>
                </tr>
                <tr>
                    <td class="left">所在仓库</td>
                    <td class="right">{{node.storeHouseName}}</td>
                </tr>
                <tr>
                    <td class="left">申请件数</td>
                    <td class="right">{{node.itemNumber}}</td>
                </tr>
                <tr>
                    <td class="left">申请重量（kg）</td>
                    <td class="right">{{node.weight}}</td>
                </tr>
                <tr>
                    <td class="left">提货时间</td>
                    <td class="right">{{node.time}}</td>
                </tr>
                <tr>
                    <td class="left">应付（元）</td>
                    <td class="right">{{node.money}}</td>
                </tr>
                <tr>
                    <td class="left">当前状态</td>
                    <td class="right">{{node.deliveryStatus}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 分页插件 -->
    <tm-pagination conf="pagination"></tm-pagination>
</div>
<script type="text/javascript">

    var deliveryHistoryModules = angular.module('deliveryHistoryModules', ['tm.pagination']);
    deliveryHistoryModules.controller('deliveryHistoryCtrls', ['$scope', '$http', '$location',function($scope, $http,$location) {
        var urlParams = getURLParams();
        //分页配置
        $scope.pagination = {
            currentPage: $location.search().currentPage ? $location.search().currentPage : 1,
            itemsPerPage: 5,//页容量
            isLinkPage : false,
            onChange: function(){}
        };
        //请求参数
        var params = {
            rows:$scope.pagination.itemsPerPage,
            _vt:urlParams._vt,
            fromType:urlParams.fromType,
            mobile:urlParams.mobile,
            loc:urlParams.loc,
            versionID:urlParams.versionID,
            loginId:urlParams.loginId,
            mtn:urlParams.mtn,
            buildID:urlParams.buildID,
            _svt:urlParams._svt,
            _s:"coop",
            _m:"listDelivery",
            productId:urlParams.productId,
            orderId:urlParams.orderId,
            storeHouseId:urlParams.storeHouseId,
            productOwnerId:urlParams.productOwnerId
        }

        $scope.$watch('pagination.currentPage + pagination.itemPageLimit' , function(news){
            params.page=$scope.pagination.currentPage;
            $http({method: 'POST', url: remote_url,params}).then(function(rep) {
                if(rep.status==200){
                    $scope.pagination.totalItems = rep.data.content.length; //总条数
                    $scope.list=rep.data.content;
                }
            })
        })
        //提货记录详情
        $scope.toDeliveryHistoryDetail=function (deliveryId) {
            var params = "_vt="+urlParams._vt+"&fromType="+urlParams.fromType+"&mobile="+urlParams.mobile+"&loc="+urlParams.loc+"&versionID="+urlParams.versionID+"&loginId="+urlParams.loginId+"&mtn="+urlParams.mtn+"&buildID="+urlParams.buildID+"&_svt="+urlParams._svt+"&_s=coop";
            var detail = 'goods_records_detail.html?'+params+'&deliveryId='+deliveryId;
            //传递对象：先将对象转成字符串（序列化）
            location.href = detail;
        };

    }])

    //返回
    $("#return_key").click(function () {
        back();
    });
</script>
</body>
</html>