<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>货物详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/good_detail.css" />
    <script type="text/javascript" src="js/selfFit.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/angular-1.3.10.min.js" ></script>

</head>
<body ng-app="takeDeliveryModules" ng-controller="takeDeliveryCtrls">
<div id="header" class="header" style="display: none;">
    <div id="return_key" class="return-key">
        <div id="back-img"></div>&nbsp;<span>返回</span>
    </div>
    <span class="title">货物详情</span>
    <hr color="#E5E5E5"/>
</div>
<div class="content">
    <div id="goodDetail" ng-cloak="">
        <div class="detailTitle">
            <span class="title">{{productName}}</span>
            <span class="batchNum">批号&nbsp;{{batchNumber}}</span>
        </div>
        <div class="detailContent">
        <table>
            <tr>
                <td class="left">PID</td>
                <td class="right">{{PID}}</td>
            </tr>
            <tr>
                <td class="left">订单编号</td>
                <td class="right">{{number}}</td>
            </tr>
            <tr>
                <td class="left">仓库名称</td>
                <td class="right">{{storeHouseName}}</td>
            </tr>
            <tr>
                <td class="left">包装</td>
                <td class="right">{{packingSpecification}}</td>
            </tr>
            <tr>
                <td class="left">库存数量</td>
                <td class="right">{{storeJianshu || 0}}</td>
            </tr>
            <tr>
                <td class="left">库存重量（吨）</td>
                <td class="right">{{storeWeight || 0}}</td>
            </tr>
            <tr>
                <td class="left">入库单价（元）</td>
                <td class="right">{{unitPrice || '0.00'}}</td>
            </tr>
            <tr>
                <td class="left">可提货重量（吨）</td>
                <td class="right">{{deliverableWeight || 0}}</td>
            </tr>
            <tr>
                <td class="left">可融资金额（元）</td>
                <td class="right">{{financableMoney || '0.00'}}</td>
            </tr>
            <tr>
                <td class="left">已融资金额（元）</td>
                <td class="right">{{financedMoney || '0.00'}}</td>
            </tr>
            <tr>
                <td class="left">货权人</td>
                <td class="right">{{productOwner}}</td>
            </tr>
            <tr>
                <td class="left">订单类型</td>
                <td class="right">{{orderstatus}}</td>
            </tr>
        </table>
    </div>
        <div class="detailFoot">
            <span class="history" ng-click="toDeliveryHistoryDetail()">提货历史</span>
            <span class="take" ng-click="toGoodsApply()">去提货</span>
        </div>
</div>
</div>
    <script type="text/javascript">
        var _url;

        angular.module('takeDeliveryModules', []).controller('takeDeliveryCtrls', ['$scope', '$http','$location', function($scope, $http,$location) {
            _url = getURLParams();
            $scope.item = jQuery.parseJSON(decodeURI(decodeURI(_url.goods)));
            $scope.productName = $scope.item.productName;
            $scope.batchNumber = $scope.item.batchNumber;
            $scope.PID = $scope.item.pid;
            $scope.number = $scope.item.number;
            $scope.storeHouseName = $scope.item.storeHouseName;
            $scope.packingSpecification = $scope.item.packingSpecification;
            $scope.storeJianshu = $scope.item.storeJianshu;
            $scope.storeWeight = $scope.item.storeWeight;
            $scope.unitPrice = $scope.item.unitPrice;
            $scope.deliverableWeight = $scope.item.deliverableWeight;
            $scope.financableMoney = $scope.item.financableMoney;
            $scope.financedMoney = $scope.item.financedMoney;
            $scope.productOwner = $scope.item.productOwner;
            $scope.orderstatus = getOrderStatus($scope.item.orderstatus);


            //跳转到提货历史
            $scope.toDeliveryHistoryDetail=function (productId,storeHouseId,orderId,productOwnerId) {
                //公共参数
                var params = "fromType="+_url.fromType+"&mobile="+_url.mobile+"&loc="+_url.loc+"&versionID="+_url.versionID+"&loginId="+_url.loginId+"&mtn="+_url.mtn+"&buildID="+_url.buildID+"&_svt="+_url._svt+"&_s=coop";
                var delivery_history = 'goods_records.html?'+params+'&productId='+$scope.item.productId+'&storeHouseId='+$scope.item.storeHouseId+'&orderId='+$scope.item.orderId+'&productOwnerId='+$scope.item.productOwnerId;
                location.href = delivery_history;
            };
            //跳转到提货申请
            $scope.toGoodsApply=function () {
                var params = "fromType="+_url.fromType+"&mobile="+_url.mobile+"&loc="+_url.loc+"&versionID="+_url.versionID+"&loginId="+_url.loginId+"&mtn="+_url.mtn+"&buildID="+_url.buildID+"&_svt="+_url._svt+"&_s=coop";
                params+="&goods="+encodeURI(encodeURI((JSON.stringify($scope.item))))
                var goods_apply = 'goods_apply.html?'+params;
                location.href = goods_apply;
            }

        }])

    </script>
</div>
</body>
</html>