<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>我的货物</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="css/my_goods.css" />

    <script type="text/javascript" src="js/selfFit.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="js/angular-1.3.10.min.js" ></script>
    <script type="text/javascript" src="js/pagination/tm.pagination.min.js" ></script>
    <link rel="stylesheet" href="js/pagination/pagination.css" />

    <style>
        .search-div{
            float: left;
            position: relative;
            top: 0.15rem;
            height: 0.8rem;
            width: 100%;
            box-shadow: 0 4px 4px 2px #dbdbdb;
        }

        .search{
            position: relative;
            float: left;
            height: 0.62rem;
            width: 4.2rem;
            left: 0.3rem;
            border: 1px solid #d4d6df;
            border-radius: 0.62rem;
            background: url(images/search.png) no-repeat 0.2rem center;
            background-size: 0.33rem 0.25rem;
            padding-left: 0.6rem;
            font-size: 0 !important;
        }

        .search>input{
            height: 0.56rem;
            line-height: 0.56rem;
            width: 3rem;
            font-size: .4rem;
            border: none;
            outline: none;
        }

        .search>input::-moz-placeholder{
            color: #dee0e7;
        }

        .search>input::-webkit-input-placeholder{
            color: #dee0e7;
        }

        .search>input::-ms-input-placeholder{
            color: #dee0e7;
        }

        .warehouse-search{
            position: relative;
            float: right;
            right: 0.2rem;
            width: 2.7rem;
            height: 0.62rem;
            line-height: 0.62rem;
            background: #f3f5fe;
            border-radius: 0.62rem;
            overflow: hidden;
        }

        .warehouse-search>select{
            width: 100%;
            padding: 0 0.1rem;
            background: #f3f5fe;
            height: 0.62rem;
            outline: none;
            border: none;
            text-align-last: center;
        }

        .warehouse-search>select>option{
            text-align: center;
            text-align-last: center;
        }

         #goodsName>a{
             text-decoration:none;
             display:inline-block;
             color: #000000;
         }
        #goodsName>a:hover{
            color: #000000;
        }

    </style>

</head>
<body ng-app="myGoodsModules" ng-controller="myGoodsCtrls">
<!-- 页面头部 -->
<div id="header" class="header">
    <div id="return_key" class="return-key">
        <div id="back-img"></div>&nbsp;<span>返回</span>
    </div>
    <div id="app-title" class="app-title">
        <span>我的货物</span>
    </div>
    <hr class="title-hr" color="#E5E5E5"/>
</div>
<!-- 搜索条件部分 -->
<div class="search-div">
    <div class="search">
        <input type="search" id="productName" ng-blur="search()" ng-model="placeName" placeholder="输入货物名称" />
    </div>
    <div class="warehouse-search">
        <select id="warehouse-options" ng-model="warehouseList" ng-change="search()">
            <option value="">全部仓库</option>
        </select>
    </div>
</div>
<!-- 数据部分 -->
<div class="content">
    <div class="myGoodsRecord" ng-repeat="item in list" ng-cloak="">
        <div class="recordTitle">
            <span class="title" ng-click="toGoodsDetail(item.productId)">{{item.productName}}</span>
            <span class="batchNum">批号&nbsp;{{item.batchNumber}}</span>
            </span>
        </div>
        <div class="recordItem">
            <table>
                <tr>
                    <td class="left">所在仓库</td>
                    <td colspan="3" class="right">{{item.storeHouseName}}</td>
                </tr>
                <tr>
                    <td class="left">库存数量（吨）</td>
                    <td colspan="3" class="right">{{item.storeJianshu}}</td>
                </tr>
                <tr>
                    <td class="left">订单类型</td>
                    <td class="right">
                        <div ng-switch="item.orderstatus">
                            <div ng-switch-when="1">
                                <span>代购</span>
                            </div>
                            <div ng-switch-when="2">
                                <span>代开证</span>
                            </div>
                            <div ng-switch-when="3">
                                <span>质押</span>
                            </div>
                            <div ng-switch-when="4">
                                <span>存储</span>
                            </div>
                        </div>
                    </td>
                    <td class="right op"><a href="javascript:void(0)" ng-click="toDeliveryHistory(item.productId,item.storeHouseId,item.orderId,item.productOwnerId)" ng-cloak>提货历史</a></td>
                    <td class="right op"><a href="javascript:void(0);" ng-click="toDeliveryApply(item.orderstatus)" ng-hide="{{item.deliverableWeight<0}}" ng-cloak>去提货</a></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 分页插件 -->
    <tm-pagination conf="pagination"></tm-pagination>
</div>
<script type="text/javascript">
    var urlParams = getURLParams();
    var storeHouseId = $("#warehouse-options").val();
    var productName = $("#productName").val();

    var myGoodsModule = angular.module('myGoodsModules', ['tm.pagination']);

    //请求数据
    myGoodsModule.controller('myGoodsCtrls', ['$scope','$http','$location',function($scope, $http,$location) {
        //分页配置
        $scope.pagination = {
            currentPage: $location.search().currentPage ? $location.search().currentPage : 1,
            itemsPerPage: pageSize,//页容量
            isLinkPage : false,
            onChange: function(){}
        };

        var params={
            rows:$scope.pagination.itemsPerPage,
            _vt:const_vt,
            fromType:2,
            mobile:true,
            loc:"zh-Hans",
            versionID:"1.0.0",
            _m:"listStoreGoods",
            _s:"coop",
            loginId:"ur4qqtjxnm",
            mtn:"a210213a55154d08a24275cd2d890406",
            buildID:"201608071700",
            _svt:'',
            storeHouseId:storeHouseId,
            productName:productName
            }

//            var params = {
//                _vt:urlParams._vt,
//                fromType:urlParams.fromType,
//                mobile:urlParams.mobile,
//                loc:urlParams.loc,
//                versionID:urlParams.versionID,
//                loginId:urlParams.loginId,
//                mtn:urlParams.mtn,
//                buildID:urlParams.buildID,
//                _svt:urlParams._svt,
//                _s:"coop",
//                _m:"listStoreGoods",
//                storeHouseId:storeHouseId,
//                productName:productName
//            }

        $scope.$watch('pagination.currentPage + pagination.itemPageLimit' , function(news){
            params.page=$scope.pagination.currentPage;
            $http({method: 'POST', url: remote_url,params}).then(function(rep) {
                if(rep.status==200){
                    $scope.pagination.totalItems = rep.data.content.total; //总条数
                    $scope.list=rep.data.content.list;
                }
            });
        })

//        $scope.goSearch = function () {
//            location.href="goods_search.html?query="+$("#productName").val();
//        }

        //货物详情
        $scope.toGoodsDetail=function (productId) {
                var urlParams = new Object();
                urlParams._vt=const_vt;
                urlParams.fromType=2;
                urlParams.mobile=true;
                urlParams.loc="zh-Hans";
                urlParams.versionID="1.0.0";
                urlParams._s="coop";
                urlParams.loginId="ur4qqtjxnm";
                urlParams.mtn="a210213a55154d08a24275cd2d890406";
                urlParams.buildID="201608071700";
                urlParams._svt='';

                var params = "?_vt="+urlParams._vt+"&fromType="+urlParams.fromType+"&mobile="+urlParams.mobile+"&loc="+urlParams.loc+"&versionID="+urlParams.versionID+"&loginId="+urlParams.loginId+"&mtn="+urlParams.mtn+"&buildID="+urlParams.buildID+"&_svt="+urlParams._svt+"&_s=coop";
                var detail = 'goods_detail.html'+params+"&productId="+productId;
                location.href = detail;
            };

        //提货历史
        $scope.toDeliveryHistory=function (productId,storeHouseId,orderId,productOwnerId) {
                var urlParams = new Object();
                urlParams._vt=const_vt;
                urlParams.fromType=2;
                urlParams.mobile=true;
                urlParams.loc="zh-Hans";
                urlParams.versionID="1.0.0";
                urlParams._s="coop";
                urlParams.loginId="ur4qqtjxnm";
                urlParams.mtn="a210213a55154d08a24275cd2d890406";
                urlParams.buildID="201608071700";
                urlParams._svt='';

                var params = "?_vt="+urlParams._vt+"&fromType="+urlParams.fromType+"&mobile="+urlParams.mobile+"&loc="+urlParams.loc+"&versionID="+urlParams.versionID+"&loginId="+urlParams.loginId+"&mtn="+urlParams.mtn+"&buildID="+urlParams.buildID+"&_svt="+urlParams._svt+"&_s=coop";
                var delivery_history = 'goods_records.html'+params+"&productId="+productId+"&storeHouseId="+storeHouseId+"&orderId="+orderId+"&productOwnerId="+productOwnerId;
                location.href=delivery_history;
            }

        //提货申请
        $scope.toDeliveryApply=function (orderstatus) {
            var apply = new Object();
            urlParams._vt=const_vt;
            urlParams.fromType=2;
            urlParams.mobile=true;
            urlParams.loc="zh-Hans";
            urlParams.versionID="1.0.0";
            urlParams._s="coop";
            urlParams.loginId="ur4qqtjxnm";
            urlParams.mtn="a210213a55154d08a24275cd2d890406";
            urlParams.buildID="201608071700";
            urlParams._svt='';

            var params = "?_vt="+urlParams._vt+"&fromType="+urlParams.fromType+"&mobile="+urlParams.mobile+"&loc="+urlParams.loc+"&versionID="+urlParams.versionID+"&loginId="+urlParams.loginId+"&mtn="+urlParams.mtn+"&buildID="+urlParams.buildID+"&_svt="+urlParams._svt+"&_s=coop";
            var delivery_apply = 'goods_apply.html'+params+"&storeHouseName="+storeHouseName+"&storeHouseAddress="+storeHouseAddress;
            location.href=delivery_apply;
        }


        $scope.search = function () {
            var storeHouseId = $("#warehouse-options").val();
            var productName = $("#productName").val();
            var params={
                rows:$scope.pagination.itemsPerPage,
                _vt:const_vt,
                fromType:2,
                mobile:true,
                loc:"zh-Hans",
                versionID:"1.0.0",
                _m:"listStoreGoods",
                _s:"coop",
                loginId:"ur4qqtjxnm",
                mtn:"a210213a55154d08a24275cd2d890406",
                buildID:"201608071700",
                _svt:'',
                query:productName,
                storeHouseId:storeHouseId
            }

            $scope.$watch('pagination.currentPage + pagination.itemPageLimit' , function(news){
                params.page=$scope.pagination.currentPage;
                $http({method: 'POST', url: remote_url,params}).then(function(rep) {
                    if(rep.status==200){
                        $scope.pagination.totalItems = rep.data.content.total; //总条数
                        $scope.list=rep.data.content.list;
                    }
                });
            })
        }

    }])


    $(function(){
//        if(urlParams.query!='undefined'){
//            $("#productName").val(decodeURI(urlParams.query));
//        }
        //加载全部仓库
        loadWarehouses();
    });

    //加载全部仓库
    function loadWarehouses() {
        //获取仓库列表——初始
        $.ajax({
            type:"post",
            url:remote_url,
            async:true,
            data:{
                fromType:2,
                mobile:true,
                loc:"zh-Hans",
                versionID:"1.0.0",
                _m:"listStorageHosue",
                _s:"coop",
                loginId: "ur4qqtjxnm",
                mtn: "a210213a55154d08a24275cd2d890406"
            },
            success:function(rep){
                var reps = JSON.parse(rep);
                if(reps.result){
                    var str = '<li data-id="0"><div class="warehouse-option"></div>全部仓库</li>',
                        list = reps.content;
                    for(var i=0;i<list.length;i++){
                        str += '<option value="'+list[i].storeHouseId +'">'+list[i].storeHouseName+'</option>'
//                        str += '<li data-id="'+ list[i].storeHouseId +'"><div class="warehouse-option">'+ list[i].storeHouseName +'</div></li>'
                    };
                    $('#warehouse-options').append(str);
                }
            }

        });
    }

    $("#return_key").click(function () {
        back();
    });

</script>
</body>
</html>